@model EuropeanParliamentTracker.Domain.Entities.VoteResult

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VoteResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VoteType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoteType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parliamentarian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parliamentarian.ParliamentarianId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vote.VoteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VoteResultId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
