@using EuropeanParliamentTracker.ViewModels
@model VoteViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VoteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoteResults[0].Parliamentarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteResults[0].VoteType)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var VoteResult in Model.VoteResults) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => VoteResult.Parliamentarian.Firstname) @Html.DisplayFor(modelItem => VoteResult.Parliamentarian.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => VoteResult.VoteType)
            </td>
        </tr>
}
    </tbody>
</table>