@model VoteFilterViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <form>
        <div class="form-group">
            <div class="col-lg-12">
                Date to show:
            </div>
            <div class="col-lg-7">
                <input asp-for="DateToShow" class="form-control" />
            </div>
            <div class="col-lg-7">
                <input class="btn btn-primary m-t-sm" type="submit" value="Search" />
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Code
            </th>
            <th>
                Date
            </th>
            <th>
                Votes
            </th>
            <th>
                Outcome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Votes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @item.VoteResults.Count()
            </td>
            <td>
                @item.VoteOutcome()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
